@use "styles/Spacings.module.scss";

.brain_management_wrapper {
  width: 100%;
  min-height: 100%;

  .content_wrapper {
    padding-block: Spacings.$spacing05;
    padding-inline: Spacings.$spacing09;
    height: 100%;
  }
}
