@use "styles/Radius.module.scss";
@use "styles/Spacings.module.scss";
@use "styles/Typography.module.scss";

.main_container {
  display: flex;
  align-items: center;
  gap: Spacings.$spacing02;

  .brain_container {
    cursor: pointer;

    &.waiting {
      opacity: 0.4;
    }

    .sample_wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: Radius.$normal;
      min-width: 18px;
      min-height: 18px;
      max-width: 18px;
      max-height: 18px;
      border-radius: Radius.$normal;
      font-size: Typography.$very_tiny;
    }
  }

  .waiting_icon {
    min-width: 18px;
    min-height: 18px;
    max-width: 18px;
    max-height: 18px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
