@use "styles/Radius.module.scss";
@use "styles/Spacings.module.scss";
@use "styles/Typography.module.scss";

.main_container {
  display: flex;
  align-items: center;
  gap: Spacings.$spacing02;

  .brain_container {
    cursor: pointer;
    position: relative;

    .sample_wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: Radius.$normal;
      min-width: 18px;
      min-height: 18px;
      max-width: 18px;
      max-height: 18px;
      border-radius: Radius.$normal;
      font-size: Typography.$very_tiny;

      &.waiting {
        opacity: 0.4;
      }
    }
  }

  .waiting_icon {
    min-width: 18px;
    min-height: 18px;
    max-width: 18px;
    max-height: 18px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    opacity: 1;
  }
}
