[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cpu"
verify_ssl = true
name = "downloadpytorch"

[packages]
aiohttp = "==3.9.5"
aiosignal = "==1.3.1"
amqp = "==5.2.0"
annotated-types = "==0.7.0"
antlr4-python3-runtime = "==4.9.3"
anyio = "==4.4.0"
appdirs = "==1.4.4"
astor = "==0.8.1"
async-generator = "==1.10"
async-timeout = "==4.0.3"
asyncpg = "==0.29.0"
attrs = "==23.2.0"
backoff = "==2.2.1"
beautifulsoup4 = "==4.12.3"
billiard = "==4.2.0"
black = "==24.4.2"
boto3 = "==1.34.120"
botocore = "==1.34.120"
cachetools = "==5.3.3"
celery = {extras = ["sqs", "redis"], version = "==5.4.0"}
certifi = "==2024.6.2"
cffi = "==1.16.0"
chardet = "==5.2.0"
charset-normalizer = "==3.3.2"
click = "==8.1.7"
click-didyoumean = "==0.3.1"
click-plugins = "==1.1.1"
click-repl = "==0.3.0"
cohere = "==5.5.4"
coloredlogs = "==15.0.1"
colorlog = "==6.8.2"
contourpy = "==1.2.1"
cryptography = "==42.0.8"
cssselect = "==1.2.0"
cycler = "==0.12.1"
dataclasses-json = "==0.6.6"
datasets = "==2.19.2"
debugpy = "==1.8.1"
decorator = "==5.1.1"
deepdiff = "==7.0.1"
defusedxml = "==0.7.1"
deprecated = "==1.2.14"
deprecation = "==2.1.0"
dill = "==0.3.8"
dirtyjson = "==1.0.8"
diskcache = "==5.6.3"
distro = "==1.9.0"
dnspython = "==2.6.1"
docker = "==7.1.0"
docx2txt = "==0.8"
duckdb = "==0.10.3"
duckduckgo-search = "==6.1.5"
ecdsa = "==0.19.0"
effdet = "==0.4.1"
email-validator = "==2.1.1"
emoji = "==2.12.1"
et-xmlfile = "==1.1.0"
faker = "==19.13.0"
fastapi = "==0.111.0"
fastapi-cli = "==0.0.4"
fastavro = "==1.9.4"
feedfinder2 = "==0.0.4"
feedparser = "==6.0.11"
filelock = "==3.14.0"
filetype = "==1.2.0"
flake8 = "==7.0.0"
flake8-black = "==0.3.6"
flashrank = "==0.2.5"
flatbuffers = "==24.3.25"
flower = "==2.0.1"
fonttools = "==4.53.0"
fpdf2 = "==2.7.9"
frozenlist = "==1.4.1"
fsspec = {extras = ["http"], version = "==2024.3.1"}
gitdb = "==4.0.11"
gitpython = "==3.1.43"
google-api-core = {extras = ["grpc"], version = "==2.19.0"}
google-api-python-client = "==2.132.0"
google-auth = "==2.29.0"
google-auth-httplib2 = "==0.2.0"
google-auth-oauthlib = "==1.2.0"
google-cloud-vision = "==3.7.2"
googleapis-common-protos = "==1.63.1"
gotrue = "==2.4.4"
greenlet = "==3.0.3"
grpcio = "==1.64.1"
grpcio-status = "==1.62.2"
h11 = "==0.14.0"
html5lib = "==1.1"
httpcore = "==1.0.5"
httplib2 = "==0.22.0"
httptools = "==0.6.1"
httpx = "==0.27.0"
httpx-sse = "==0.4.0"
huggingface-hub = "==0.23.3"
humanfriendly = "==10.0"
humanize = "==4.9.0"
idna = "==3.7"
importlib-metadata = "==7.1.0"
iniconfig = "==2.0.0"
iopath = "==0.1.10"
jieba3k = "==0.35.1"
jinja2 = "==3.1.4"
jmespath = "==1.0.1"
joblib = "==1.4.2"
jq = "==1.7.0"
jsonpatch = "==1.33"
jsonpath-python = "==1.0.6"
jsonpointer = "==2.4"
kiwisolver = "==1.4.5"
kombu = {extras = ["sqs"], version = "==5.3.7"}
langchain = "==0.2.2"
langchain-cohere = "==0.1.5"
langchain-community = "==0.2.3"
langchain-core = "==0.2.4"
langchain-openai = "==0.1.8"
langchain-text-splitters = "==0.2.1"
langdetect = "==1.0.9"
langfuse = "==2.34.2"
langgraph = "==0.0.64"
langsmith = "==0.1.74"
layoutparser = {extras = ["tesseract", "layoutmodels"], version = "==0.3.4"}
litellm = "==1.40.4"
llama-cpp-python = "==0.2.67"
llama-index = "==0.10.43"
llama-index-agent-openai = "==0.2.7"
llama-index-cli = "==0.1.12"
llama-index-core = "==0.10.43"
llama-index-embeddings-openai = "==0.1.10"
llama-index-indices-managed-llama-cloud = "==0.1.6"
llama-index-legacy = "==0.9.48"
llama-index-llms-openai = "==0.1.22"
llama-index-multi-modal-llms-openai = "==0.1.6"
llama-index-program-openai = "==0.1.6"
llama-index-question-gen-openai = "==0.1.3"
llama-index-readers-file = "==0.1.23"
llama-index-readers-llama-parse = "==0.1.4"
llama-parse = "==0.4.4"
llamaindex-py-client = "==0.1.19"
lxml = {extras = ["html_clean"], version = "==5.2.2"}
lxml-html-clean = "==0.1.1"
markdown = "==3.6"
markdown-it-py = "==3.0.0"
markupsafe = "==2.1.5"
marshmallow = "==3.21.3"
matplotlib = "==3.9.0"
mccabe = "==0.7.0"
mdurl = "==0.1.2"
monotonic = "==1.6"
mpmath = "==1.3.0"
msal = "==1.28.0"
msg-parser = "==1.2.0"
multidict = "==6.0.5"
multiprocess = "==0.70.16"
mypy-extensions = "==1.0.0"
nest-asyncio = "==1.6.0"
networkx = "==3.3"
newspaper3k = "==0.2.8"
nltk = "==3.8.1"
nodeenv = "==1.9.1"
numpy = "==1.26.4"
oauthlib = "==3.2.2"
olefile = "==0.47"
omegaconf = "==2.3.0"
onnx = "==1.16.1"
onnxruntime = "==1.18.0"
openai = "==1.31.1"
opencv-python = "==4.10.0.82"
openpyxl = "==3.1.3"
ordered-set = "==4.1.0"
orjson = "==3.10.3"
packaging = "==23.2"
pandas = "==1.5.3"
pandasai = "==2.1.1"
pathspec = "==0.12.1"
pdf2image = "==1.17.0"
"pdfminer.six" = "==20231228"
pdfplumber = "==0.11.0"
pikepdf = "==9.0.0"
pillow = "==10.3.0"
pillow-heif = "==0.16.0"
platformdirs = "==4.2.2"
playwright = "==1.44.0"
pluggy = "==1.5.0"
portalocker = "==2.8.2"
postgrest = "==0.16.8"
posthog = "==3.5.0"
prometheus-client = "==0.20.0"
prompt-toolkit = "==3.0.46"
proto-plus = "==1.23.0"
protobuf = "==4.25.3"
psutil = "==5.9.8"
psycopg2 = "==2.9.9"
psycopg2-binary = "==2.9.9"
py = "==1.11.0"
pyarrow = "==16.1.0"
pyarrow-hotfix = "==0.6"
pyasn1 = "==0.6.0"
pyasn1-modules = "==0.4.0"
pycocotools = "==2.0.7"
pycodestyle = "==2.11.1"
pycparser = "==2.22"
pycurl = "==7.45.3"
pydantic = "==2.7.3"
pydantic-core = "==2.18.4"
pydantic-settings = "==2.3.1"
pyee = "==11.1.0"
pyflakes = "==3.2.0"
pygments = "==2.18.0"
pyinstrument = "==4.6.2"
pyjwt = {extras = ["crypto"], version = "==2.8.0"}
pypandoc = "==1.13"
pyparsing = "==3.1.2"
pypdf = "==4.2.0"
pypdfium2 = "==4.30.0"
pyreqwest-impersonate = "==0.4.7"
pyright = "==1.1.366"
pysbd = "==0.3.4"
pytesseract = "==0.3.10"
pytest = "==8.2.2"
pytest-celery = "==1.0.0"
pytest-docker-tools = "==3.1.3"
pytest-dotenv = "==0.5.2"
pytest-mock = "==3.14.0"
python-dateutil = "==2.9.0.post0"
python-docx = "==1.1.2"
python-dotenv = "==1.0.1"
python-iso639 = "==2024.4.27"
python-jose = "==3.3.0"
python-magic = "==0.4.27"
python-multipart = "==0.0.9"
python-pptx = "==0.6.23"
pytz = "==2024.1"
pyyaml = "==6.0.1"
ragas = "==0.1.9"
rapidfuzz = "==3.9.3"
realtime = "==1.0.5"
redis = "==5.0.5"
regex = "==2024.5.15"
requests = "==2.32.3"
requests-file = "==2.1.0"
requests-oauthlib = "==2.0.0"
requests-toolbelt = "==1.0.0"
resend = "==2.0.0"
retry = "==0.9.2"
rich = "==13.7.1"
rsa = "==4.9"
s3transfer = "==0.10.1"
safetensors = "==0.4.3"
scipy = "==1.13.1"
sentry-sdk = {extras = ["fastapi"], version = "==2.5.0"}
sgmllib3k = "==1.0.0"
shellingham = "==1.5.4"
six = "==1.16.0"
smmap = "==5.0.1"
sniffio = "==1.3.1"
soupsieve = "==2.5"
sqlalchemy = {extras = ["asyncio"], version = "==2.0.30"}
starlette = "==0.37.2"
storage3 = "==0.7.6"
strenum = "==0.4.15"
striprtf = "==0.0.26"
supabase = "==2.5.0"
supafunc = "==0.4.6"
sympy = "==1.12.1"
tabulate = "==0.9.0"
tavily-python = "==0.3.3"
tenacity = "==8.3.0"
tiktoken = "==0.7.0"
timm = "==1.0.3"
tinysegmenter = "==0.3"
tldextract = "==5.1.2"
tokenizers = "==0.15.2"
torch = "==2.3.1"
torchvision = "==0.18.1"
tornado = "==6.4"
tqdm = "==4.66.4"
transformers = "==4.39.3"
typer = "==0.12.3"
types-requests = "==2.32.0.20240602"
typing-extensions = "==4.12.1"
typing-inspect = "==0.9.0"
tzdata = "==2024.1"
ujson = "==5.10.0"
unidecode = "==1.3.8"
unstructured = {extras = ["all-docs"], version = "==0.14.4"}
unstructured-client = "==0.23.0"
unstructured-inference = "==0.7.33"
"unstructured.pytesseract" = "==0.3.12"
uritemplate = "==4.1.1"
urllib3 = "==2.2.1"
uvicorn = {extras = ["standard"], version = "==0.30.1"}
uvloop = "==0.19.0"
vine = "==5.1.0"
watchdog = "==4.0.1"
watchfiles = "==0.22.0"
wcwidth = "==0.2.13"
webencodings = "==0.5.1"
websockets = "==12.0"
wrapt = "==1.16.0"
xlrd = "==2.0.1"
xlsxwriter = "==3.2.0"
xxhash = "==3.4.1"
yarl = "==1.9.4"
zipp = "==3.19.2"
megaparse = "*"

[dev-packages]

[requires]
python_version = "3.12"
