@use "@/styles/Radius.module.scss";
@use "@/styles/Spacings.module.scss";
@use "@/styles/Typography.module.scss";

.message_row_container {
  display: flex;
  flex-direction: column;
  padding-right: Spacings.$spacing05;
  gap: Spacings.$spacing03;

  &.user {
    font-size: Typography.$very_large;
    font-weight: 500;
  }

  .message_row_content {
    border-radius: Radius.$big;
    width: fit-content;
    padding-block: Spacings.$spacing03;
    padding-inline: Spacings.$spacing05;
  }

  .message_header {
    padding: Spacings.$spacing02;
    overflow: hidden;
  }

  &.brain {
    .message_header {
      display: flex;
      gap: Spacings.$spacing04;
      align-items: baseline;
      @include Typography.H2;
    }

    .message_row_content {
      align-self: flex-start;
      position: relative;
      margin-inline: Spacings.$spacing05;
      padding: 0;
    }

    .metadata_wrapper {
      display: flex;
      flex-direction: column;
      left: Spacings.$spacing02;
      top: calc(100% + #{Spacings.$spacing03});
      gap: Spacings.$spacing03;

      .sources_and_citations_wrapper {
        display: flex;
        flex-direction: column;
        gap: Spacings.$spacing03;
        max-width: 100%;
        border-bottom: 1px solid var(--border-0);
        padding-bottom: Spacings.$spacing05;

        .title_wrapper {
          display: flex;
          align-items: center;
          gap: Spacings.$spacing03;

          .title {
            @include Typography.H2;
          }
        }

        .sources {
          display: flex;
          gap: Spacings.$spacing03;
          flex-wrap: wrap;
          max-width: 100%;
        }

        .citations {
          display: flex;
          flex-direction: column;
          gap: Spacings.$spacing02;
          padding: Spacings.$spacing03;
          border: 1px solid var(--primary-0);
          border-radius: Radius.$big;
          font-size: Typography.$small;

          .file_name_wrapper {
            display: flex;
            gap: Spacings.$spacing03;
            align-items: center;

            .box_title {
              padding-block: Spacings.$spacing02;
              font-weight: 600;
            }

            .source {
              font-size: Typography.$tiny;
            }
          }

          .box_title {
            padding-block: Spacings.$spacing02;
            font-weight: 600;
          }
        }
      }

      .icons_wrapper {
        display: flex;
        gap: Spacings.$spacing04;
        padding-top: Spacings.$spacing03;
        padding-bottom: Spacings.$spacing05;
        width: 100%;
        justify-content: flex-end;

        .with_border {
          border-bottom: 1px solid var(--border-0);
        }
      }
    }

    .related_questions_wrapper {
      display: flex;
      flex-direction: column;
      gap: Spacings.$spacing03;
      padding-block: Spacings.$spacing03;

      .title_wrapper {
        display: flex;
        align-items: center;
        gap: Spacings.$spacing03;

        .title {
          @include Typography.H2;
        }
      }

      .questions_wrapper {
        display: flex;
        flex-direction: column;
        gap: Spacings.$spacing02;
        font-size: Typography.$small;

        .question {
          display: flex;
          align-items: center;
          gap: Spacings.$spacing03;

          .text {
            color: var(--text-4);
            transition: color 0.5s ease;

            &:hover {
              color: var(--text-3);
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
