@use "@/styles/Spacings.module.scss";

.content_wrapper {
  padding: Spacings.$spacing06;
  display: flex;
  flex-direction: column;
  gap: Spacings.$spacing05;

  .assistants_grid {
    display: flex;
    gap: Spacings.$spacing03;
    flex-wrap: wrap;
  }

  .message_wrapper {
    display: flex;
    flex-direction: column;
    gap: Spacings.$spacing02;
  }
}
