@use "@/styles/Radius.module.scss";
@use "@/styles/Spacings.module.scss";

.model_selection_wrapper {
  display: flex;
  flex-direction: column;
  gap: Spacings.$spacing05;

  .max_tokens {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: Spacings.$spacing03;

    .slider {
      -webkit-appearance: none;
      width: 80%;
      height: 15px;
      border-radius: Radius.$normal;
      background: var(--primary-1);
      outline: none;
      -webkit-transition: 0.2s;
      transition: opacity 0.2s;
    }

    .slider:hover {
      opacity: 1;
    }

    .slider::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 15px;
      height: 30px;
      border-radius: Radius.$big;
      background: var(--primary-0);
      cursor: pointer;
    }
  }
}
