**/.next/
**/node_modules/
**/.vercel/
**/__pycache__
*/.pytest_cache
**/__pycache__
**/.benchmarks/
**/.cache/
**/.pytest_cache/
**/.next/
**/build/
**/.docusaurus/

node_modules
npm-debug.log
Dockerfile*
docker-compose*
.dockerignore
.git
.gitignore
README.md
LICENSE
.vscode
.next
*.swp
/scripts