@use "@/styles/BoxShadow.module.scss";
@use "@/styles/Radius.module.scss";
@use "@/styles/Spacings.module.scss";

.editor_wrapper {
  max-width: 100%;
  min-height: 100%;
  border-radius: Radius.$normal;
  border: 1px solid var(--border-3);
  border-bottom: none;
  padding: Spacings.$spacing06;
  box-shadow: BoxShadow.$medium;

  .editor_header {
    display: flex;
    justify-content: flex-end;
  }
}
