@use "@/styles/BoxShadow.module.scss";
@use "@/styles/Radius.module.scss";
@use "@/styles/Spacings.module.scss";

.editor_wrapper {
  max-width: 100%;
  min-height: 100%;
  border-radius: Radius.$normal;
  border: 1px solid var(--border-3);
  border-bottom: none;
  box-shadow: BoxShadow.$medium;

  .editor_header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--border-1);
    padding-inline: Spacings.$spacing06;
    padding-block: Spacings.$spacing04;
    align-items: center;

    .text_manipulation_wrapper {
      display: flex;
      gap: Spacings.$spacing02;
    }
  }

  .editor_content {
    padding: Spacings.$spacing06;
    caret-color: var(--accent);
  }
}
