docker-compose.override.yml
secondbrain/
.env
.streamlit/secrets.toml
**/*.pyc
toto.txt
*.ipynb
log.txt

backend/venv
backend/.env
backend/*.deb
backend/.python-version

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
**/node_modules
**/.pnp
.pnp.js

# testing
**/coverage

# next.js
**/.next/
**/out/

# production
**/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
quivr/*
streamlit-demo/.streamlit/secrets.toml
.backend_env
.frontend_env
backend/core/pandoc-*
**/.pandoc-*
backend/core/application_default_credentials.json

#local models
backend/core/local_models/*

## scripts
.migration_info
package-lock.json
backend/celerybeat-schedule
frontend/public/robots.txt
frontend/public/sitemap*
