[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
litellm = "*"
openai = "*"
gitpython = "*"
pdf2image = "*"
nest-asyncio = "*"
pypdf = "*"
supabase = "*"
tiktoken = "*"
fastapi = "*"
python-multipart = "*"
uvicorn = "*"
pypandoc = "*"
docx2txt = "*"
python-jose = "*"
asyncpg = "*"
flake8 = "*"
flake8-black = "*"
sentry-sdk = {extras = ["fastapi"] }
pyright = "*"
resend = "*"
html5lib = "*"
beautifulsoup4 = "*"
newspaper3k = "*"
xlrd = "*"
redis = "*"
flower = "*"
boto3 = "*"
botocore = "*"
python-dotenv = "*"
pytest-mock = "*"
pytest-celery = "*"
pytesseract = "*"
async-generator = "*"
posthog = "*"
jq = "*"
pytest = "*"
watchdog = "*"
langchain-community = "*"
langchain-openai = "*"
pydantic-settings = "*"
langfuse = "*"
pandasai = "*"
colorlog = "*"
psycopg2-binary = "*"
psycopg2 = "*"
celery = {extras = ["redis", "sqs"], version = "*"}
unstructured = {extras = ["all-docs"], version = "*"}
llama-parse = "*"
llama-index = "*"
lxml = {extras = ["html_clean"], version = "*"}
ragas = "*"
datasets = "*"
pytest-dotenv = "*"
fpdf2 = "*"
unidecode = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.11"
