[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "==0.1.11"
litellm = "*"
openai = "1.13.3"
gitpython = "==3.1.36"
pdf2image = "*"
nest-asyncio = "==1.5.6"
pypdf = "==3.9.0"
supabase = "==2.4.0"
tiktoken = "==0.6.0"
fastapi = "==0.110.0"
python-multipart = "==0.0.6"
uvicorn = "*"
pypandoc = "==1.11"
docx2txt = "==0.8"
python-jose = "==3.3.0"
asyncpg = "==0.27.0"
flake8 = "==7.0.0"
flake8-black = "==0.3.6"
sentry-sdk = {extras = ["fastapi"] }
pyright = "==1.1.316"
resend = "*"
html5lib = "==1.1"
beautifulsoup4 = "*"
newspaper3k = "==0.2.8"
xlrd = "*"
redis = "*"
flower = "*"
boto3 = "*"
botocore = "*"
python-dotenv = "*"
pytest-mock = "*"
pytest-celery = "*"
pytesseract = "*"
async-generator = "*"
posthog = "==3.5.0"
jq = "==1.6.0"
pytest = "*"
watchdog = "*"
langchain-community = "*"
langchain-openai = "*"
pydantic-settings = "*"
langfuse = "*"
pandasai = "*"
colorlog = "*"
psycopg2-binary = "*"
psycopg2 = "*"
celery = {extras = ["redis", "sqs"], version = "*"}
unstructured = {extras = ["all-docs"], version = "*"}

[dev-packages]
black = "*"

[requires]
python_version = "3.11"
