-i https://pypi.org/simple
aiohttp==3.9.3; python_version >= '3.8'
aiosignal==1.3.1; python_version >= '3.7'
amqp==5.2.0; python_version >= '3.6'
anyio==3.7.1; python_version >= '3.7'
argilla==1.23.0; python_version < '3.12' and python_version >= '3.8'
async-generator==1.10; python_version >= '3.5'
async-timeout==4.0.3; python_full_version <= '3.11.2'
asyncpg==0.27.0; python_full_version >= '3.7.0'
attrs==23.2.0; python_version >= '3.7'
backoff==2.2.1; python_version >= '3.7' and python_version < '4.0'
beautifulsoup4==4.12.3; python_full_version >= '3.6.0'
billiard==4.2.0; python_version >= '3.7'
black==24.1.1; python_version >= '3.8'
boto3==1.33.7; python_version >= '3.7'
botocore==1.33.7; python_version >= '3.7'
bytecode==0.15.1; python_version >= '3.8'
cattrs==23.2.3; python_version >= '3.8'
celery[sqs]==5.3.6; python_version >= '3.8'
certifi==2024.2.2; python_version >= '3.6'
cffi==1.16.0; platform_python_implementation != 'PyPy'
charset-normalizer==3.3.2; python_full_version >= '3.7.0'
click==8.1.7; python_version >= '3.7'
click-didyoumean==0.3.0; python_full_version >= '3.6.2' and python_full_version < '4.0.0'
click-plugins==1.1.1
click-repl==0.3.0; python_version >= '3.6'
cryptography==42.0.2; python_version >= '3.7'
cssselect==1.2.0; python_version >= '3.7'
dataclasses-json==0.6.4; python_version >= '3.7' and python_version < '4.0'
ddsketch==2.0.4; python_version >= '2.7'
ddtrace==2.5.2; python_version >= '3.7'
deprecated==1.2.14; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
deprecation==2.1.0
distro==1.9.0; python_version >= '3.6'
docx2txt==0.8
ecdsa==0.18.0; python_version >= '2.6' and python_version not in '3.0, 3.1, 3.2, 3.3'
envier==0.5.1; python_version >= '3.7'
et-xmlfile==1.1.0; python_version >= '3.6'
fastapi==0.95.2; python_version >= '3.7'
feedfinder2==0.0.4
feedparser==6.0.11; python_version >= '3.6'
filelock==3.13.1; python_version >= '3.8'
flake8==6.0.0; python_full_version >= '3.8.1'
flake8-black==0.3.6; python_version >= '3.7'
flower==2.0.1; python_version >= '3.7'
frozenlist==1.4.1; python_version >= '3.8'
fsspec==2024.2.0; python_version >= '3.8'
gitdb==4.0.11; python_version >= '3.7'
gitpython==3.1.36; python_version >= '3.7'
gotrue==1.3.1; python_version >= '3.8' and python_version < '4.0'
h11==0.14.0; python_version >= '3.7'
html5lib==1.1; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
httpcore==0.17.3; python_version >= '3.7'
httpx==0.24.1; python_version >= '3.7'
huggingface-hub==0.20.3; python_full_version >= '3.8.0'
humanize==4.9.0; python_version >= '3.8'
idna==3.6; python_version >= '3.5'
importlib-metadata==6.11.0; python_version >= '3.8'
iniconfig==2.0.0; python_version >= '3.7'
jieba3k==0.35.1
jinja2==3.1.3; python_version >= '3.7'
jmespath==1.0.1; python_version >= '3.7'
joblib==1.3.2; python_version >= '3.7'
jq==1.6.0; python_version >= '3.5'
jsonpatch==1.33; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5, 3.6'
jsonpointer==2.4; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5, 3.6'
kombu[sqs]==5.3.5; python_version >= '3.8'
langchain==0.1.5; python_version < '4.0' and python_full_version >= '3.8.1'
langchain-community==0.0.17; python_version < '4.0' and python_full_version >= '3.8.1'
langchain-core==0.1.18; python_version < '4.0' and python_full_version >= '3.8.1'
langsmith==0.0.86; python_version < '4.0' and python_full_version >= '3.8.1'
litellm==1.22.5; python_version not in '2.7, 3.0, 3.1, 3.2, 3.3, 3.4, 3.5, 3.6, 3.7' and python_version >= '3.8'
lxml==5.1.0; python_version >= '3.6'
markdown==3.5.2; python_version >= '3.8'
markdown-it-py==3.0.0; python_version >= '3.8'
markupsafe==2.1.5; python_version >= '3.7'
marshmallow==3.20.2; python_version >= '3.8'
mccabe==0.7.0; python_version >= '3.6'
mdurl==0.1.2; python_version >= '3.7'
monotonic==1.6
msg-parser==1.2.0; python_version >= '3.4'
multidict==6.0.5; python_version >= '3.7'
mypy-extensions==1.0.0; python_version >= '3.5'
nest-asyncio==1.5.6; python_version >= '3.5'
newspaper3k==0.2.8
nltk==3.8.1; python_version >= '3.7'
nodeenv==1.8.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5, 3.6'
numpy==1.23.5; python_version >= '3.8'
olefile==0.47; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
openai==1.1.1; python_full_version >= '3.7.1'
openpyxl==3.1.2; python_version >= '3.6'
opentelemetry-api==1.22.0; python_version >= '3.7'
packaging==23.2; python_version >= '3.7'
pandas==1.5.3; python_version >= '3.8'
pathspec==0.12.1; python_version >= '3.8'
pdf2image==1.16.3
pdfminer.six==20231228; python_version >= '3.6'
pillow==10.2.0; python_version >= '3.8'
platformdirs==4.2.0; python_version >= '3.8'
pluggy==1.4.0; python_version >= '3.8'
postgrest==0.11.0; python_version >= '3.8' and python_version < '4.0'
posthog==3.1.0
prometheus-client==0.19.0; python_version >= '3.8'
prompt-toolkit==3.0.43; python_full_version >= '3.7.0'
protobuf==4.25.2; python_version >= '3.8'
pyasn1==0.5.1; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5'
pycodestyle==2.10.0; python_version >= '3.6'
pycparser==2.21
pycurl==7.45.2
pydantic==1.10.14; python_version >= '3.7'
pyflakes==3.0.1; python_version >= '3.6'
pygments==2.17.2; python_version >= '3.7'
pypandoc==1.11; python_version >= '3.6'
pypdf==3.9.0; python_version >= '3.6'
pyright==1.1.316; python_version >= '3.7'
pytesseract==0.3.10; python_version >= '3.7'
pytest==8.0.0; python_version >= '3.8'
pytest-celery==0.0.0
pytest-mock==3.12.0; python_version >= '3.8'
python-dateutil==2.8.2; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
python-docx==1.1.0; python_version >= '3.7'
python-dotenv==1.0.1; python_version >= '3.8'
python-jose==3.3.0
python-magic==0.4.27; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
python-multipart==0.0.6; python_version >= '3.7'
python-pptx==0.6.23
pytz==2024.1
pyyaml==6.0.1; python_version >= '3.6'
realtime==1.0.2; python_version >= '3.8' and python_version < '4.0'
redis==4.5.4; python_version >= '3.7'
regex==2023.12.25; python_version >= '3.7'
requests==2.31.0; python_version >= '3.7'
requests-file==2.0.0
resend==0.5.1; python_version >= '3.7'
rich==13.7.0; python_full_version >= '3.7.0'
rsa==4.9; python_version >= '3.6' and python_version < '4'
s3transfer==0.8.2; python_version >= '3.7'
sentry-sdk[fastapi]==1.40.0
setuptools==69.0.3; python_version >= '3.8'
sgmllib3k==1.0.0
six==1.16.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
smmap==5.0.1; python_version >= '3.7'
sniffio==1.3.0; python_version >= '3.7'
soupsieve==2.5; python_version >= '3.8'
sqlalchemy==2.0.25; python_version >= '3.7'
starlette==0.27.0; python_version >= '3.7'
storage3==0.6.1; python_version >= '3.8' and python_version < '4.0'
strenum==0.4.15
supabase==1.1.0; python_version >= '3.8' and python_version < '4.0'
supafunc==0.2.3; python_version >= '3.8' and python_version < '4.0'
tenacity==8.2.3; python_version >= '3.7'
tiktoken==0.4.0; python_version >= '3.8'
tinysegmenter==0.3
tldextract==5.1.1; python_version >= '3.8'
tokenizers==0.15.1; python_version >= '3.7'
tornado==6.4; python_version >= '3.8'
tqdm==4.66.1; python_version >= '3.7'
typer==0.9.0; python_version >= '3.6'
typing-extensions==4.9.0; python_version >= '3.8'
typing-inspect==0.9.0
tzdata==2023.4; python_version >= '2'
unstructured==0.6.7; python_full_version >= '3.7.0'
urllib3==2.0.7; python_version >= '3.10'
uvicorn==0.22.0; python_version >= '3.7'
vine==5.1.0; python_version >= '3.6'
watchdog==3.0.0; python_version >= '3.7'
wcwidth==0.2.13
webencodings==0.5.1
websockets==11.0.3; python_version >= '3.7'
wrapt==1.14.1; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
xlrd==1.0.0
xlsxwriter==3.1.9; python_version >= '3.6'
xmltodict==0.13.0; python_version >= '3.4'
yarl==1.9.4; python_version >= '3.7'
zipp==3.17.0; python_version >= '3.8'
