# pymupdf==1.22.3
langchain==0.0.354
litellm==1.16.12
# Markdown==3.4.4
openai==1.6.1
GitPython==3.1.40
pdf2image==1.16.3
nest_asyncio==1.5.8
pypdf==3.17.4
supabase==1.2.0
tiktoken==0.5.2
unstructured==0.11.8
fastapi==0.108.0
python-multipart==0.0.6
uvicorn==0.25.0
pypandoc==1.12
docx2txt==0.8
python-jose==3.3.0
asyncpg==0.29.0
flake8==6.1.0
flake8-black==0.3.6
sentry-sdk==1.39.1
sentry-sdk[fastapi]==1.39.1
pyright==1.1.344
resend==0.6.0
html5lib==1.1
beautifulsoup4
newspaper3k
xlrd==1.2.0
celery==5.3.6
redis==4.6.0
flower
boto3==1.34.12
botocore==1.34.12
celery[sqs]
python-dotenv
pytest-mock
pytest-celery
pytesseract==0.3.10
async_generator
