# pymupdf==1.22.3
langchain==0.0.341
litellm==1.7.7
# Markdown==3.4.4
openai==1.1.1
GitPython==3.1.36
pdf2image==1.16.3
nest_asyncio==1.5.6
pypdf==3.9.0
supabase==1.1.0
tiktoken==0.4.0
unstructured==0.6.7
fastapi==0.95.2
python-multipart==0.0.6
uvicorn==0.22.0
pypandoc==1.11
docx2txt==0.8
python-jose==3.3.0
asyncpg==0.27.0
flake8==6.0.0
flake8-black==0.3.6
sentry-sdk==1.37.1
sentry-sdk[fastapi]==1.37.1
pyright==1.1.316
resend==0.5.1
html5lib==1.1
beautifulsoup4
newspaper3k
xlrd==1.0.0
celery==5.2.7
redis==4.5.4
flower
boto3==1.33.7
botocore==1.33.7
celery[sqs]
python-dotenv
pytest-mock
pytest-celery
pytesseract==0.3.10
async_generator
posthog==3.1.0
jq==1.6.0

