@use "styles/Spacings.module.scss";
@use "styles/Typography.module.scss";

.account_line_wrapper {
  display: flex;
  align-items: center;
  gap: Spacings.$spacing03;
  padding-left: Spacings.$spacing06;
  font-size: Typography.$small;
}
