@use "styles/Spacings.module.scss";
@use "styles/Typography.module.scss";

.account_section_wrapper {
  display: flex;
  flex-direction: column;
  gap: Spacings.$spacing03;

  .account_line_wrapper {
    display: flex;
    align-items: center;
    gap: Spacings.$spacing03;
    padding-left: Spacings.$spacing06;
    font-size: Typography.$small;
  }

  .loader_icon {
    padding-left: Spacings.$spacing09 + Spacings.$spacing03;
  }

  .sync_elements_wrapper {
    display: flex;
    flex-direction: column;
    gap: Spacings.$spacing01;
    font-size: Typography.$small;

    &.empty {
      height: 0;
    }
  }
}
