@use "@/styles/Radius.module.scss";
@use "@/styles/Spacings.module.scss";
@use "@/styles/Typography.module.scss";

.sources_wrapper {
  padding: Spacings.$spacing03;
  display: flex;
  flex-direction: column;
  padding-bottom: Spacings.$spacing03;
  gap: Spacings.$spacing03;
  overflow: hidden;
  height: 100%;
  border: 1px solid var(--border-1);
  border-radius: Radius.$big;

  .title_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: Spacings.$spacing05;
    font-weight: 600;

    .left {
      display: flex;
      gap: Spacings.$spacing02;
      align-items: center;
    }
  }

  .source_list {
    display: flex;
    flex-direction: column;
    gap: Spacings.$spacing01;

    .source {
      @include Typography.EllipsisOverflow;
      padding-inline: Spacings.$spacing05;
    }
  }
}
