@use "@/styles/Colors.module.scss";
@use "@/styles/Radius.module.scss";
@use "@/styles/ScreenSizes.module.scss";
@use "@/styles/Spacings.module.scss";

.from_document_wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  column-gap: Spacings.$spacing05;
  justify-content: center;
  align-items: center;
  border: 1px dashed Colors.$lighter-grey;
  border-radius: Radius.$big;
  box-sizing: border-box;

  &.dragging {
    border: 3px dashed Colors.$accent;
    background-color: Colors.$lightest-black;
  }

  .input {
    padding: Spacings.$spacing05;
    display: flex;
    gap: Spacings.$spacing02;

    @media (max-width: ScreenSizes.$small) {
      flex-direction: column;
    }

    .clickable {
      cursor: pointer;
      font-weight: bold;
    }
  }
}
