@use "styles/BoxShadow.module.scss";
@use "styles/Radius.module.scss";
@use "styles/ScreenSizes.module.scss";
@use "styles/Spacings.module.scss";
@use "styles/Typography.module.scss";
@use "styles/ZIndexes.module.scss";

.brain_item_wrapper {
  padding-inline: Spacings.$spacing05;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: Spacings.$spacing03;
  align-items: center;
  cursor: pointer;
  border: 1px solid var(--border-1);
  border-radius: Radius.$normal;
  padding-block: Spacings.$spacing04;
  position: relative;
  overflow: visible;
  overflow: hidden;
  height: 100%;
  box-shadow: BoxShadow.$small;

  &:hover {
    border-color: var(--primary-0);
    color: var(--text-3);
  }

  .brain_header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;

    .left {
      display: flex;
      gap: Spacings.$spacing03;
      @include Typography.H2;
      align-items: center;
    }
  }

  .model {
    display: flex;
    gap: Spacings.$spacing03;
    align-items: center;
    font-size: Typography.$small;
    width: 100%;

    .title {
      font-weight: 500;
    }

    .model_type {
      color: var(--text-4);
    }
  }

  .description {
    width: 100%;
    font-style: italic;
    font-size: Typography.$tiny;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--text-4);
  }

  .options_modal {
    position: absolute;
    right: Spacings.$spacing02;
    top: Spacings.$spacing08;
    z-index: ZIndexes.$modal;
    padding-bottom: Spacings.$spacing01;
  }
}
