@use "styles/Spacings.module.scss";
@use "styles/Typography.module.scss";

.folder_wrapper {
  display: flex;
  flex-direction: column;
  gap: Spacings.$spacing01;
  margin-left: Spacings.$spacing03;

  &.no_margin {
    margin-left: 0;
  }

  .folder_line_wrapper {
    display: flex;
    align-items: center;
    gap: Spacings.$spacing03;
    font-size: Typography.$small;

    .name {
      @include Typography.EllipsisOverflow;
    }
  }

  .loader_icon {
    padding-left: Spacings.$spacing06;
  }

  .sync_elements_wrapper {
    display: flex;
    flex-direction: column;
    gap: Spacings.$spacing01;
    border-left: 0.5px solid var(--border-0);
    margin-left: Spacings.$spacing03;
    font-size: Typography.$small;
  }
}
