@use "styles/Radius.module.scss";
@use "styles/ScreenSizes.module.scss";
@use "styles/Spacings.module.scss";
@use "styles/Typography.module.scss";

.brains_wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  row-gap: Spacings.$spacing04;
  column-gap: Spacings.$spacing04;
  border-radius: Radius.$big;
  overflow: hidden;
  width: 100%;
  overflow-y: scroll;
  padding: Spacings.$spacing01;
  padding-bottom: Spacings.$spacing07;
}
