@use "@/styles/Spacings.module.scss";

.prompt_wrapper {
  display: flex;
  flex-direction: column;
  gap: Spacings.$spacing05;

  .name_wrapper {
    width: 30%;
    min-width: 250px;
  }

  .buttons_wrapper {
    display: flex;
    justify-content: space-between;
  }
}
