@use "@/styles/Spacings.module.scss";

.prompt_wrapper {
  display: flex;
  flex-direction: column;
  gap: Spacings.$spacing05;

  .buttons_wrapper {
    display: flex;
    justify-content: space-between;
  }
}
