@use "styles/BoxShadow.module.scss";
@use "styles/Radius.module.scss";
@use "styles/Spacings.module.scss";
@use "styles/Typography.module.scss";

.people_tab_wrapper {
  display: flex;
  padding-block: Spacings.$spacing05;
  flex-direction: column;
  gap: Spacings.$spacing05;

  .section_wrapper {
    padding-block: Spacings.$spacing05;
    border-bottom: 1px solid var(--border-2);
    display: flex;
    flex-direction: column;
    gap: Spacings.$spacing05;

    &.last {
      border-bottom: none;
    }

    .section_title {
      @include Typography.H2;
    }

    .buttons_wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
