@use "styles/BoxShadow.module.scss";
@use "styles/Radius.module.scss";
@use "styles/Spacings.module.scss";
@use "styles/Typography.module.scss";

.people_tab_wrapper {
  display: flex;
  padding: Spacings.$spacing05;
  flex-direction: column;
  gap: Spacings.$spacing05;

  .section_wrapper {
    border-radius: Radius.$big;
    background-color: var(--background-1);
    padding: Spacings.$spacing05;
    box-shadow: BoxShadow.$small;
    display: flex;
    flex-direction: column;
    gap: Spacings.$spacing05;

    .section_title {
      @include Typography.H3;
    }

    .buttons_wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}