@use "@/styles/Spacings.module.scss";
@use "@/styles/Typography.module.scss";

.connections_wrapper {
  display: flex;
  flex-direction: column;
  gap: Spacings.$spacing05;
  padding: Spacings.$spacing06;
  flex-direction: column;
  width: 100%;

  .title {
    @include Typography.H2;
  }
}
