@use "styles/Radius.module.scss";
@use "styles/Spacings.module.scss";

.header_section_wrapper {
  display: flex;
  align-items: center;
  gap: Spacings.$spacing03;
  font-weight: 500;

  &:hover {
    background-color: var(--background-3);
    cursor: pointer;
    border-radius: Radius.$small;
  }
}
