@use "styles/Radius.module.scss";
@use "styles/Spacings.module.scss";
@use "styles/Typography.module.scss";

.process_wrapper {
  padding-inline: Spacings.$spacing06;
  overflow: hidden;
  display: flex;
  gap: Spacings.$spacing02;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--border-0);
  padding-block: Spacings.$spacing03;
  position: relative;
  overflow: visible;
  font-size: Typography.$small;
  border-bottom: none;

  &.last {
    border-radius: 0 0 Radius.$normal Radius.$normal;
    border-bottom: 1px solid var(--border-0);
  }

  &.clickable {
    cursor: pointer;

    &:hover {
      background-color: var(--background-1);
    }
  }

  .left {
    display: flex;
    align-items: center;
    gap: calc(Spacings.$spacing06 + 6px);
    overflow: hidden;

    .name {
      @include Typography.EllipsisOverflow;
    }
  }

  .right {
    display: flex;
    gap: Spacings.$spacing05;
    align-items: center;

    .date {
      font-size: Typography.$very_tiny;
      width: 150px;
      display: flex;
      align-items: center;
      justify-content: center;
      @include Typography.EllipsisOverflow;
    }

    .status {
      width: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      @include Typography.EllipsisOverflow;
    }
  }
}
