:root {
    --white-0: #fcfcfc;
    --white-1: #f8f8f8;
    --white-2: #f4f4f4;

    /* Black */
    --black-0: #1f1f1f;
    --black-1: #252525;
    --black-2: #2b2b2b;
    --black-3: #313131;
    --black-4: #373737;
    --black-5: #3d3d3d;
    --black-6: #434343;
    --black-7: #494949;

    /* Grey */
    --grey-O: #707070;
    --grey-1: #818080;
    --grey-2: #c8c8c8;
    --grey-3: #cbcbcb;
    --grey-4: #e7e9ec;
    --grey-5: #d3d3d3;
    --grey-6: #f5f5f5;

    /* Primary */
    --primary-0: #6142d4;
    --primary-1: #d0c6f2;
    --primary-2: #f5f3fd;

    /* Accent */
    --accent: #13abba;
  
    /* Gold */
    --gold: #b8860b;
    --gold-lightest: #f0ebdd;;
  
    /* Error */
    --dangerous-dark: #e30c17;
    --dangerous: #9b373c;
    --dangerous-lightest: #eedddd;
  
    /* Warning */
    --warning: #c77d33;
    --warning-lightest: #f2e9e0;
  
    /* Success */
    --success: #47a455;
    --success-lightest: #d0edd4;
}