:root {
    /* White */
    --white-0: #e8e8e8;
    --white-1: #e4e4e4;
    --white-2: #e0e0e0;

    /* Black */
    --black-0: #1f1f1f;
    --black-1: #252525;
    --black-2: #2b2b2b;
    --black-3: #313131;
    --black-4: #373737;
    --black-5: #3d3d3d;
    --black-6: #434343;
    --black-7: #494949;

    /* Grey */
    --grey-0: #808080;
    --grey-1: #a8a8a8;
    --grey-2: #ababab;
    --grey-3: #b8babc;
    --grey-4: #b8b8b8;
    --grey-5: #d0d0d0;


    /* Primary */
    --primary-0: #6142d4;
    --primary-1: #d0c6f2;
    --primary-2: #f5f3fd;

    /* Accent */
    --accent: #13abba;
  
    /* Gold */
    --gold: #b8860b;
    --gold-lightest: #f0ebdd;;
  
    /* Error */
    --dangerous-dark: #e30c17;
    --dangerous: #9b373c;
    --dangerous-lightest: #eedddd;
  
    /* Warning */
    --warning: #c77d33;
    --warning-lightest: #e9d9c9;
  
    /* Success */
    --success: #47a455;
    --success-lightest: #d0edd4;
}