@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import './colors.css';

main {
  @apply max-w-screen-xl mx-auto flex flex-col;
}

header,
section {
  @apply px-5 md:px-10;
}

a {
  @apply hover:text-primary dark:hover:text-gray-200 transition-colors;
}

div:focus {
  @apply outline-none;
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    @apply w-2 h-2;
  }

  .scrollbar::-webkit-scrollbar-track {
    /* border-radius: 5px; */
    /* background: #fff; */
    @apply bg-white dark:bg-black;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    /* background: #000; */
    /* border-radius: 100vh; */
    /* border: 3px solid #fff; */
    @apply bg-gray-200 dark:bg-gray-600 border border-white rounded-sm;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    /* background: #000; */
    @apply bg-gray-500;
  }

  .h-fill-available {
    /* fixes the h-[100vh] issue on mobile */
    /* like height: -webkit-fill-available; but for any device (android and iphone) */
    @apply h-[100vh] supports-[height:100cqh]:h-[100cqh] supports-[height:100svh]:h-[100svh];
  }
}

:root {
  /* Backgrounds */
  --background-0: var(--white);
  --background-1: var(--highlight);
  --background-2: var(--lightest-grey);
  --background-3: var(--lightest-black);
  --background-4: var(--dark-grey);
  --background-5: var(--dark-black);

  /* Borders */
  --border-0: var(--lighter-grey);
  --border-1: var(--lightest-black);
  --border-2: var(--normal-grey);

  /* Icons */
  --icon-0: var(--white);
  --icon-1: var(--normal-grey);
  --icon-2: var(--dark-grey);
  --icon-3: var(--black);

  /* Text */
  --text-0: var(--white);
  --text-1: var(--normal-grey);
  --text-2: var(--dark-grey);
  --text-3: var(--black);
}

body.dark {
  --background-O: Colors.$background-3;
  --highlight: #6142d4;
  --ivory: #6142d4;
  --primary: red;
  --primary-light: #6142d4;
  --primary-lightest: #6142d4;
  --accent: #13abba;
  --dark-black: #6142d4;
  --black: #ffffff;
  --light-black: #fafafa;
  --lightest-black: #6142d4;
  --lightest-grey: #c8c8c8;
  --lighter-grey: #6142d4;
  --light-grey: #6142d4;
  --normal-grey: #f5f5f5;
  --dark-grey: #707070;
  --gold: #b8860b;
  --dangerous-dark: #9b373c;
  --dangerous: #eedddd;
  --dangerous-lightest: #e30c17;
  --warning: #e9d9c9;
  --warning-lightest: #c77d33;
  --success: #d0edd4;
  --success-lightest: #47a455;
}