@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

main {
  @apply max-w-screen-xl mx-auto flex flex-col;
}

header,
section {
  @apply px-5 md:px-10;
}

a {
  @apply hover:text-primary dark:hover:text-gray-200 transition-colors;
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    @apply w-2 h-2;
  }

  .scrollbar::-webkit-scrollbar-track {
    /* border-radius: 5px; */
    /* background: #fff; */
    @apply bg-white dark:bg-black;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    /* background: #000; */
    /* border-radius: 100vh; */
    /* border: 3px solid #fff; */
    @apply bg-gray-200 dark:bg-gray-600 border border-white rounded-sm;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    /* background: #000; */
    @apply bg-gray-500;
  }
}

.custom-prose {
  max-height: 60vh;
  /* Adjust this value based on the desired maximum height */
  overflow-y: auto;
  /* Enable vertical scroll if the content exceeds the maximum height */
  padding-right: 1rem;
  /* Optional: Add some padding if the scrollbar appears, so the text is not squished */
}


.container,
.post {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container h1,
.post h1 {
  font-size: 2em;
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: 40px 0;
}

.flexing {
  width: 30%;
  box-sizing: content-box;
  background: #f8f6f8;
  margin: 1%;
  padding: 30px;
  border-radius: 8px;
}