@use "@/styles/Spacings.module.scss";

.user_page_container {
  padding: Spacings.$spacing09;
  display: flex;
  gap: Spacings.$spacing09;

  .left_menu_wrapper {
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: Spacings.$spacing05;
  }
}
