@use "@/styles/Radius.module.scss";
@use "@/styles/ScreenSizes.module.scss";
@use "@/styles/Spacings.module.scss";

.user_page_container {
  padding-inline: Spacings.$spacing09;
  padding-block: Spacings.$spacing07;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  @media (max-width: ScreenSizes.$small) {
    display: flex;
    flex-direction: column;
  }

  .content_wrapper {
    display: flex;
    gap: Spacings.$spacing05;
  }
}

.modal_wrapper {
  display: flex;
  flex-direction: column;
  gap: Spacings.$spacing05;

  .buttons {
    display: flex;
    justify-content: space-between;
  }
}
