@use "styles/Radius.module.scss";
@use "styles/Spacings.module.scss";

.connection_knowledges_wrapper {
  display: flex;
  flex-direction: column;
  gap: Spacings.$spacing03;

  .provider_line_wrapper {
    display: flex;
    align-items: center;
    gap: Spacings.$spacing02;

    .hoverable {
      display: flex;
      align-items: center;
      gap: Spacings.$spacing03;
      padding-inline: Spacings.$spacing02;
      width: 100%;

      .provider_title {
        font-weight: 500;
      }

      &:hover {
        background-color: var(--background-3);
        cursor: pointer;
        border-radius: Radius.$small;
      }
    }
  }

  .accounts {
    display: flex;
    flex-direction: column;
    gap: Spacings.$spacing03;
    border-left: 0.5px solid var(--border-0);
    margin-left: Spacings.$spacing03;

    &.folded {
      display: none;
    }
  }
}
