@use "@/styles/Colors.module.scss";
@use "@/styles/Radius.module.scss";
@use "@/styles/Spacings.module.scss";

.mentions_list_wrapper {
  display: flex;
  background-color: Colors.$white;
  flex-direction: column;
  padding: Spacings.$spacing03;
  box-shadow: 0 1px 2px rgb(0, 0, 0, 0.25);
  border-radius: Radius.$normal;
  gap: Spacings.$spacing03;
  max-width: 300px;
  position: relative;
  overflow: hidden;

  .mentions_list {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: Spacings.$spacing02;
  }
}
