@use "@/styles/Spacings.module.scss";
@use "@/styles/Typography.module.scss";

.prompt_name_wrapper {
  display: flex;
  align-items: center;
  color: var(--text-3);
  font-size: Typography.$small;
  overflow: hidden;

  .prompt_name {
    @include Typography.EllipsisOverflow;
  }
}
