@use "@/styles/Colors.module.scss";
@use "@/styles/Spacings.module.scss";
@use "@/styles/Typography.module.scss";

.sources_wrapper {
  display: flex;
  flex-direction: column;
  padding-bottom: Spacings.$spacing03;
  gap: Spacings.$spacing01;
  overflow: hidden;

  .source {
    @include Typography.EllipsisOverflow;
    padding-inline: Spacings.$spacing05;
  }
}
