@use "@/styles/ScreenSizes.module.scss";
@use "@/styles/Spacings.module.scss";

.menu_button {
  padding: Spacings.$spacing05;
  border-bottom: 1px solid var(--border-1);
  display: flex;
  align-items: center;
  gap: Spacings.$spacing03;
  cursor: pointer;

  &.last {
    border-bottom: none;
  }

  &:hover,
  &.selected {
    background-color: var(--background-special-0);

    .label {
      color: var(--primary-0);
    }
  }

  @media (max-width: ScreenSizes.$small) {
    border-bottom: none;
    border-right: 1px solid var(--border-1);

    &.last {
      border-right: none;
    }
  }
}
