@use "@/styles/Spacings.module.scss";
@use "@/styles/Typography.module.scss";

.login_page_wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .section {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    row-gap: Spacings.$spacing03;

    .logo_link {
      display: flex;
      justify-content: center;
    }

    .title {
      @include Typography.Big;
      text-align: center;

      .primary_text {
        color: var(--primary);
      }
    }

    .form_container {
      display: flex;
      flex-direction: column;
      gap: Spacings.$spacing03;
    }

    .divider {
      text-transform: uppercase;
    }

    .restriction_message {
      text-align: center;
      font-size: Typography.$tiny;
    }
  }
}
