.ProseMirror p.is-editor-empty:first-child::before {
    content: attr(data-placeholder);
    float: left;
    color: #adb5bd;
    pointer-events: none;
    height: 0;
}

.ProseMirror * {
    white-space: pre-wrap;
    word-wrap: break-word;
}

.mention {
    display: none;
}