@use "@/styles/ScreenSizes.module.scss";
@use "@/styles/Spacings.module.scss";

.user_to_invite_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: Spacings.$spacing05;
  max-width: 100%;

  .selector {
    width: 300px;
  }

  @media (max-width: ScreenSizes.$small) {
    display: flex;
    flex-direction: column;

    .selector {
      width: 100%;
    }
  }
}
