<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Audio Interaction WebApp</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>

  <body>
    <button
      type="button"
      id="record-btn"
      class="record-btn hidden"
      data-recording="false"
      data-pending="false"
    ></button>
    <div class="custom-file-input">
      <label for="fileInput">Choose a file</label>
      <input
        type="file"
        accept="text/plain"
        name="fileInput"
        required
        id="fileInput"
      />
      <span id="fileName">No file chosen</span>
      <button id="upload-btn" class="upload-btn">Upload</button>
    </div>
    <canvas id="audio-visualizer" class=""></canvas>
    <audio id="audio-playback" controls class="hidden"></audio>
    <script src="{{ url_for('static', filename='app.js') }}"></script>
  </body>
</html>
