@use "styles/BoxShadow.module.scss";
@use "styles/Radius.module.scss";
@use "styles/Spacings.module.scss";
@use "styles/Typography.module.scss";

.source_and_citations_container {
  display: flex;
  flex-direction: column;
  gap: Spacings.$spacing01;
  max-width: 240px;

  .source_wrapper {
    padding: Spacings.$spacing03;
    border-radius: Radius.$normal;
    border: 1px solid var(--border-1);
    width: fit-content;
    max-width: 100%;
    overflow: hidden;
    display: flex;
    gap: Spacings.$spacing03;
    cursor: pointer;

    .source_header {
      display: flex;
      align-items: center;
      gap: Spacings.$spacing03;
      font-size: Typography.$tiny;
      overflow: hidden;
      width: 100%;
      justify-content: space-between;
      color: var(--text-2);
      max-width: 200px;

      .filename {
        @include Typography.EllipsisOverflow;
      }
    }

    &:hover {
      border-color: var(--primary-0);
      transition: border-color 0.3s ease;
      color: var(--primary-0);
    }
  }
}

.citations_container {
  display: flex;
  gap: Spacings.$spacing02;
  flex-wrap: wrap;

  .citation_index {
    cursor: pointer;
    color: var(--text-4);
    font-size: Typography.$tiny;

    &:hover {
      color: var(--primary-0);
    }
  }
}
