@use "@/styles/Colors.module.scss";

// BACKGROUNDS
$background-0: Colors.$white;
$background-1: Colors.$highlight;
$background-2: Colors.$lightest-grey;
$background-3: Colors.$lightest-black;
$background-4: Colors.$dark-grey;
$background-5: Colors.$dark-black;

// BORDERS
$border-0: Colors.$lighter-grey;
$border-1: Colors.$lightest-black;
$border-2: Colors.$normal-grey;

// ICONS
$icon-0: Colors.$white;
$icon-1: Colors.$normal-grey;
$icon-2: Colors.$dark-grey;
$icon-3: Colors.$black;

// TEXT
$text-0: Colors.$white;
$text-1: Colors.$normal-grey;
$text-2: Colors.$dark-grey;
$text-3: Colors.$black;

// PRIMARY
$primary: var(--primary-0);
$primary-light: var(--primary-1);
$primary-lightest: var(--primary-2);

// ACCENT
$accent: Colors.$accent;

// GOLD
$gold: Colors.$gold;

// SUCCESS
$success: Colors.$success;
$success-lightest: Colors.$success-lightest;

// DANGEROUS
$dangerous: Colors.$dangerous;
$dangerous-dark: Colors.$dangerous-dark;

// WARNING
$warning: Colors.$warning;
$warning-lightest: Colors.$warning-lightest;
