@use "styles/Radius.module.scss";
@use "styles/Spacings.module.scss";
@use "styles/Typography.module.scss";

.citation_wrapper {
  padding: Spacings.$spacing03;
  border-radius: Radius.$normal;
  border: 1px solid var(--background-special-0);
  width: 100%;
  font-size: Typography.$tiny;
  font-style: italic;
  cursor: pointer;

  .citation_header {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    width: 100%;
    height: 300px;

    .icon {
      visibility: hidden;
    }
  }

  &:hover {
    background-color: var(--background-special-1);

    .icon {
      visibility: visible;
    }
  }
}