@use "@/styles/Radius.module.scss";
@use "@/styles/Spacings.module.scss";
@use "@/styles/Transitions.module.scss";
@use "@/styles/Typography.module.scss";
@use "@/styles/ZIndexes.module.scss";

.brain_folder_wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: Radius.$small;

  .brain_folder_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    cursor: pointer;
    font-weight: 550;
    padding: Spacings.$spacing02;
    overflow: hidden;
    gap: Spacings.$spacing03;
    position: relative;

    &:hover {
      background-color: var(--background-2);
    }

    .left {
      display: flex;
      align-items: center;
      gap: Spacings.$spacing03;
      overflow: hidden;

      .icon_rotate {
        transition: transform 0.3s Transitions.$easeOutBack;
      }

      .icon_rotate_down {
        transform: rotate(0deg);
      }

      .icon_rotate_right {
        transform: rotate(-90deg);
      }

      .dark_image {
        filter: invert(100%);
      }

      .name {
        @include Typography.EllipsisOverflow;
      }
    }
  }

  .content_wrapper {
    overflow: hidden;
    transition: max-height 0.3s Transitions.$easeOutBack;
  }

  .content_collapsed {
    max-height: 0;
  }

  .options_modal {
    position: absolute;
    right: Spacings.$spacing02;
    top: Spacings.$spacing08;
    z-index: ZIndexes.$modal;
    padding-bottom: Spacings.$spacing01;
  }
}
