@use "@/styles/Colors.module.scss";
@use "@/styles/Radius.module.scss";
@use "@/styles/ScreenSizes.module.scss";
@use "@/styles/Spacings.module.scss";
@use "@/styles/Typography.module.scss";

.brain_item_wrapper {
  padding-inline: Spacings.$spacing05;
  overflow: hidden;
  display: flex;
  gap: Spacings.$spacing02;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  margin-block: Spacings.$spacing03;
  border: 1px solid Colors.$lightest-black;
  border-radius: Radius.$normal;
  padding-block: Spacings.$spacing03;

  &:hover {
    border-color: Colors.$primary;
    background-color: Colors.$primary-lightest;
  }

  .brain_info_wrapper {
    padding-block: Spacings.$spacing03;
    display: flex;
    overflow: hidden;
    gap: Spacings.$spacing05;
    overflow: hidden;
    flex: 1;

    .name {
      @include Typography.EllipsisOverflow;
      width: 200px;
      color: Colors.$black;
    }

    .description {
      @include Typography.EllipsisOverflow;
      flex: 1;
      color: Colors.$dark-grey;
    }

    @media (max-width: ScreenSizes.$small) {
      .name {
        width: auto;
      }

      .description {
        display: none;
      }
    }
  }

  .options_menu {
    position: absolute;
    background-color: Colors.$highlight;
    border-radius: Radius.$normal;
    right: Spacings.$spacing07;
    border-radius: Radius.$normal;
    box-shadow: 0 1px 2px rgb(0, 0, 0, 0.25);

    .option {
      padding: Spacings.$spacing03;
      padding-inline: Spacings.$spacing05;
      display: flex;
      gap: Spacings.$spacing05;
      align-items: center;
      cursor: pointer;
      justify-content: space-between;
      overflow: hidden;

      &:not(:first-child) {
        border-top: 1px solid Colors.$light-grey;
      }

      &:hover {
        background-color: Colors.$primary-lightest;
      }
    }
  }
}
