@use "@/styles/Colors.module.scss";
@use "@/styles/Spacings.module.scss";
@use "@/styles/Typography.module.scss";

.brain_item_wrapper {
  padding-block: Spacings.$spacing03;
  padding-inline: Spacings.$spacing05;
  border-top: 1px solid Colors.$normal-grey;
  overflow: hidden;

  .brain_info_wrapper {
    display: flex;
    overflow: hidden;

    .name {
      @include Typography.EllipsisOverflow;
      flex: 0.2;
    }

    .description {
      @include Typography.EllipsisOverflow;
      flex: 0.8;
    }
  }
}
