@use "@/styles/Radius.module.scss";
@use "@/styles/Spacings.module.scss";
@use "@/styles/Typography.module.scss";

.knowledge_item_wrapper {
  padding: Spacings.$spacing01;
  padding-left: Spacings.$spacing06;
  font-size: Typography.$tiny;
  @include Typography.EllipsisOverflow;
  border-radius: Radius.$small;
  cursor: pointer;

  &:hover {
    background-color: var(--background-1);
  }
}
