@use "@/styles/Radius.module.scss";
@use "@/styles/Spacings.module.scss";
@use "@/styles/Typography.module.scss";
@use "@/styles/ZIndexes.module.scss";

.knowledge_item_container {
  padding: Spacings.$spacing01;
  padding-left: Spacings.$spacing06;
  font-size: Typography.$tiny;
  border-radius: Radius.$small;
  cursor: grab;
  padding: Spacings.$spacing01;
  border: 1px solid transparent;
  border-radius: Radius.$normal;

  &.dragging {
    border-color: var(--primary-1);
  }

  .knowledge_item_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: Spacings.$spacing03;
    width: 100%;

    .name {
      @include Typography.EllipsisOverflow;
    }

    .icon_wrapper {
      visibility: hidden;
    }

    &:hover {
      background-color: var(--background-1);

      .icon_wrapper {
        visibility: visible;
        cursor: pointer;
      }
    }
  }

  .options_modal_wrapper {
    position: relative;

    .options_modal {
      position: absolute;
      right: 0;
      z-index: ZIndexes.$overlay;
    }
  }
}
