@use "@/styles/ScreenSizes.module.scss";
@use "@/styles/Spacings.module.scss";
@use "@/styles/Typography.module.scss";

.knowledge_to_feed_wrapper {
  display: flex;
  flex-direction: column;
  padding-block: Spacings.$spacing05;
  width: 100%;
  gap: Spacings.$spacing05;
  overflow: hidden;
  height: 100%;

  .single_selector_wrapper {
    width: 30%;
    min-width: 250px;

    @media (max-width: ScreenSizes.$small) {
      width: 100%;
    }
  }

  .tabs_content_wrapper {
    width: 100%;
    height: 80%;
    overflow: scroll;
    padding: Spacings.$spacing01;
  }
}
