@use "styles/Radius.module.scss";
@use "styles/ScreenSizes.module.scss";
@use "styles/Spacings.module.scss";
@use "styles/Typography.module.scss";
@use "styles/ZIndexes.module.scss";

.knowledge_item_wrapper {
  padding-inline: Spacings.$spacing06;
  overflow: hidden;
  display: flex;
  gap: Spacings.$spacing02;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--border-1);
  padding-block: Spacings.$spacing03;
  position: relative;
  overflow: visible;
  font-size: Typography.$small;

  &:hover {
    border-color: var(--primary-0);
    background-color: var(--background-special-0);
  }

  &:first-child {
    border-top: none;
  }

  .left {
    display: flex;
    align-items: center;
    gap: Spacings.$spacing03;
    overflow: hidden;

    .file_name {
      @include Typography.EllipsisOverflow;
    }
  }

  .options_modal {
    position: absolute;
    right: Spacings.$spacing02;
    top: Spacings.$spacing08;
    z-index: ZIndexes.$modal;
    padding-bottom: Spacings.$spacing01;
  }
}
