@use "@/styles/ColorsConfig/LightColors.module.scss" as Colors;
@use "@/styles/Spacings.module.scss";
@use "@/styles/Typography.module.scss";

.brain_name_wrapper {
  display: flex;
  align-items: center;
  gap: Spacings.$spacing02;
  color: Colors.$normal-text;
  overflow: hidden;

  .brain_name {
    @include Typography.EllipsisOverflow;
  }
}
