@use "styles/Radius.module.scss";
@use "styles/Spacings.module.scss";
@use "styles/Typography.module.scss";

.knowledge_table_wrapper {
  display: flex;
  flex-direction: column;
  gap: Spacings.$spacing05;
  overflow: hidden;

  .table_header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
      @include Typography.H3;
    }
  }

  .table {
    border: 1px solid var(--border-1);
    border-radius: Radius.$normal;
    overflow: hidden;

    .first_line {
      display: flex;
      justify-content: space-between;
      padding-left: calc(Spacings.$spacing08 + Spacings.$spacing02);
      padding-right: Spacings.$spacing04;
      padding-block: Spacings.$spacing02;
      font-weight: 500;
      background-color: var(--background-1);
      font-size: Typography.$small;
    }
  }
}
