CHANGE*.md
/output
/input
.env
__pycache__/
dist/**
megaparse.egg-info/
*.pyc
build/*
ENV
venv
*/evaluations/*
*/cdp/*
*.pkl

!megaparse/tests/output_tests/MegaFake_report.md
*.DS_Store
.tool-versions
