@use "@/styles/Radius.module.scss";
@use "@/styles/Spacings.module.scss";

.chat_container {
  display: flex;
  flex-direction: column;
  background-color: var(--background-0);
  gap: Spacings.$spacing03;
  border-radius: Radius.$big;
  border: 1px solid var(--border-0);
  overflow: hidden;

  .chat_wrapper {
    display: flex;
    padding: Spacings.$spacing05;

    &.with_brain {
      padding-top: 0;
    }
  }
}
