@use "styles/Spacings.module.scss";
@use "styles/Typography.module.scss";

.assistant_tab_wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .content_section {
    display: flex;
    flex-direction: column;
    gap: Spacings.$spacing06;

    .title {
      @include Typography.H2;
    }

    .assistant_choice_wrapper {
      display: flex;
      gap: Spacings.$spacing05;
      align-items: stretch;
      flex-wrap: wrap;
    }
  }

  .form_wrapper {
    display: flex;
    flex-direction: column;
    gap: Spacings.$spacing06;

    .title {
      @include Typography.H2;
    }

    .file_inputs_wrapper {
      display: flex;
      justify-content: space-between;
      width: 100%;
      gap: Spacings.$spacing05;

      .file_input_wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: Spacings.$spacing03;

        .file_header {
          display: flex;
          align-items: center;
          gap: Spacings.$spacing03;
          font-size: Typography.$small;
        }
      }
    }
  }

  .buttons_wrapper {
    display: flex;
    justify-content: space-between;
  }
}
