@use "styles/Spacings.module.scss";
@use "styles/Typography.module.scss";

.assistant_tab_wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .title {
    @include Typography.H1;
  }

  .assistant_choice_wrapper {
    display: flex;
    justify-content: space-between;
  }
}
