$white: #02172a;
$dark-black: #081621;
$secondary: #f3ecff;
$tertiary: #f6f4ff;
$accent: #13abba;
$highlight: #021323;
$ivory: #fcfaf6;
$chat-bg-gray: #d9d9d9;

//PRIMARY
$primary: #02d6e8;
$primary-light: #338188;
$primary-lightest: #216266;

// BLACK
$black: #ffffff;
$light-black: #293a51;
$lightest-black: #010f1c;

// GREY
$lightest-grey: #010f1c;
$lighter-grey: #010f1c;
$light-grey: #010f1c;
$normal-grey: #c8c8c8;
$dark-grey: #707070;

// GOLD
$gold: #b8860b;

// ERROR
$dangerous-dark: #e30c17;
$dangerous: #9b373c;
$dangerous-lightest: #eedddd;

// WARNING
$warning: #c77d33;
$warning-lightest: #e9d9c9;

// SUCCESS
$success: #47a455;
$success-lightest: #d0edd4;
