$white: #ffffff;
$dark-black: #081621;
$secondary: #f3ecff;
$tertiary: #f6f4ff;
$accent: #13abba;
$highlight: #fafafa;
$ivory: #fcfaf6;
$chat-bg-gray: #d9d9d9;

//PRIMARY
$primary: #6142d4;
$primary-light: #d0c6f2;
$primary-lightest: #f5f3fd;

// BLACK
$black: #11243e;
$light-black: #293a51;
$lightest-black: #e7e9ec;

// GREY
$lightest-grey: #f5f5f5;
$lighter-grey: #d3d3d3;
$light-grey: #cbcbcb;
$normal-grey: #c8c8c8;
$dark-grey: #707070;

// GOLD
$gold: #b8860b;
