$white: #02172a;
$dark-black: #ffffff;
$secondary: #f3ecff;
$tertiary: #f6f4ff;
$accent: #13abba;
$highlight: #02172a;
$ivory: #fcfaf6;
$chat-bg-gray: #d9d9d9;

//PRIMARY
$primary: #02d6e8;
$primary-light: #d0c6f2;
$primary-lightest: #f5f3fd;

// BLACK
$black: #ffffff;
$light-black: #ffffff;
$lightest-black: #e7e9ec;

// GREY
$lightest-grey: #f5f5f5;
$lighter-grey: #d3d3d3;
$light-grey: #cbcbcb;
$normal-grey: #c8c8c8;
$dark-grey: #ffffff;

// GOLD
$gold: #b8860b;

// ERROR
$dangerous-dark: #e30c17;
$dangerous: #9b373c;
$dangerous-lightest: #eedddd;

// WARNING
$warning: #c77d33;
$warning-lightest: #e9d9c9;

// SUCCESS
$success: #47a455;
$success-lightest: #d0edd4;
