@mixin Big {
  font-weight: 500;
  font-size: 36px;
}

@mixin H1 {
  font-weight: 600;
  font-size: 20px;
}

@mixin H2 {
  font-weight: 600;
  font-size: $large;
}

@mixin H3 {
  font-weight: 500;
  font-size: $medium;
}

@mixin EllipsisOverflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

$very_tiny: 10px;
$tiny: 12px;
$small: 14px;
$medium: 16px;
$large: 18px;
