@use "@/styles/Spacings.module.scss";

.knowledge_list_wrapper {
  display: flex;
  width: 400px;
  min-width: 300px;
  flex-direction: column;
  gap: Spacings.$spacing03;
  overflow: scroll;

  .search_bar {
    padding: Spacings.$spacing03;
    width: 100%;
  }

  .brains_wrapper {
    display: flex;
    flex-direction: column;
    gap: Spacings.$spacing03;
  }
}
