@use "styles/IconSizes.module.scss";
@use "styles/Radius.module.scss";
@use "styles/ScreenSizes.module.scss";
@use "styles/Spacings.module.scss";
@use "styles/Typography.module.scss";
@use "styles/Variables.module.scss";
@use "styles/ZIndexes.module.scss";

.main_container {
  position: relative;
  width: 100%;
  height: 100%;

  .page_header {
    position: absolute;
    width: 100%;
  }

  .search_page_container {
    background-color: var(--background-0);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .main_wrapper {
      display: flex;
      flex-direction: column;
      row-gap: Spacings.$spacing05;
      width: 50%;
      margin-inline: auto;
      transform: translateY(-#{Variables.$searchBarHeight});

      @media (max-width: ScreenSizes.$small) {
        width: 100%;
        padding-inline: Spacings.$spacing07;
      }

      .quivr_logo_wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .quivr_text {
          @include Typography.Big;

          .quivr_text_primary {
            color: var(--primary-0);
          }
        }
      }
    }
  }
}

.onboarding_overlay {
  width: 100%;
  height: 100%;
  z-index: ZIndexes.$overlay;
  background-color: var(--background-blur);
  position: absolute;
  top: 0;
  left: 0;

  .main_message_wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .main_message {
      display: flex;
      flex-direction: column;

      .bolder {
        font-weight: bold;
      }
    }
  }

  .first_brain_button {
    position: absolute;
    right: Spacings.$spacing07;
    top: Spacings.$spacing04;
    display: flex;
    gap: Spacings.$spacing05;
  }
}
