@use "styles/BoxShadow.module.scss";
@use "styles/Radius.module.scss";
@use "styles/Spacings.module.scss";

.mentions_list_wrapper {
  display: flex;
  background-color: var(--background-0);
  flex-direction: column;
  padding: Spacings.$spacing03;
  box-shadow: BoxShadow.$medium;
  border: 1px solid var(--border-1);
  border-radius: Radius.$normal;
  gap: Spacings.$spacing02;
  max-width: 300px;
  min-width: 200px;
  overflow: scroll;
  max-height: 300px;
  overflow-y: scroll;

  .mentions_list {
    display: flex;
    flex-direction: column;
  }
}
