@use "styles/Radius.module.scss";
@use "styles/ScreenSizes.module.scss";
@use "styles/Spacings.module.scss";
@use "styles/Variables.module.scss";

.brains_list_container {
  display: flex;
  margin-inline: -(Spacings.$spacing10);
  gap: calc(Spacings.$spacing05 + Spacings.$spacing01);

  .brains_list_wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: Spacings.$spacing03;
    overflow: hidden;
    width: 100%;
    overflow-y: scroll;

    @media screen and (min-width: ScreenSizes.$large) {
      grid-template-columns: repeat(3, minmax(200px, 1fr));
    }
  }

  .chevron {
    visibility: visible;
    height: min-content;
    padding: Spacings.$spacing03;
    margin-top: calc(Variables.$brainButtonHeight / 2 - 20px);

    &:hover {
      background-color: var(--background-3);
      border-radius: Radius.$circle;
    }

    &.disabled {
      visibility: hidden;
    }
  }
}
