@use "@/styles/ScreenSizes.module.scss";
@use "@/styles/Spacings.module.scss";

.main_infos_wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: Spacings.$spacing05;

  .general_information {
    width: 70%;
  }

  .model_information {
    width: 30%;
    min-width: 200px;
  }

  @media (max-width: ScreenSizes.$small) {
    flex-direction: column;

    .general_information {
      width: 100%;
    }

    .model_information {
      width: 100%;
    }
  }
}
