@use "@/styles/Spacings.module.scss";

.main_infos_wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: Spacings.$spacing05;

  .general_information {
    width: 70%;
  }

  .model_information {
    width: 30%;
  }
}
