supabase_url = "https://xxxxxx.supabase.co"
supabase_service_key = "xxxxxx"
openai_api_key = "sk-xxxxxx"
anthropic_api_key = ""
pinecone_api_key = ""
pinecone_env = "" ### next to the pinecone api key, you need to specify the environment name
pinecone_index = "quivr-dev"
