@use "styles/BoxShadow.module.scss";
@use "styles/Radius.module.scss";
@use "styles/Spacings.module.scss";

.header_wrapper {
  padding-inline: Spacings.$spacing06;
  padding-block: Spacings.$spacing05;
  border-bottom: 1px solid var(--border-0);
  display: flex;
  align-items: center;
  gap: Spacings.$spacing03;
  font-weight: 550;
  background-color: var(--background-0);
  height: 64px;

  .parent_folder {
    display: flex;
    align-items: center;
    gap: Spacings.$spacing03;

    .icon {
      min-width: 18px;
      max-width: 18px;
      min-height: 18px;
      max-height: 18px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .name {
      &:hover {
        cursor: pointer;
        color: var(--primary-0);
      }
    }
  }

  .current_folder {
    display: flex;
    align-items: center;
    gap: Spacings.$spacing03;

    .name {
      &.selected {
        background-color: var(--background-6);
        padding-block: Spacings.$spacing02;
        padding-inline: Spacings.$spacing03;
        border-radius: Radius.$normal;
      }
    }
  }
}
